* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}


/*header*/

header {
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 12px rgba(13, 33, 112, 0.1);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.header_left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.header_right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.header_logo {
    margin-right: 28px;
}

.header_button {
    display: block;
    border: 1px solid #C84735;
    border-radius: 84px;
    padding: 10px 32px;
    text-align: center;
    height: 40px;
}

.header_link {
    text-decoration: none;
    color: #C84735;
}

.header_link:not(:last-child) {
    margin-right: 30px;
}

.upper_text {
    text-transform: uppercase;
}

.geo_link {
    display: flex;
    width: 83px;
    align-items: center;
    justify-content: space-between;
}