* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}


/*header*/

header {
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 12px rgba(13, 33, 112, 0.1);
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.header_left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}

.header_right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.header_logo {
    margin-right: 28px;
}

.header_button {
    display: block;
    border: 1px solid #C84735;
    border-radius: 84px;
    padding: 10px 32px;
    text-align: center;
    height: 40px;
}

.header_link {
    text-decoration: none;
    color: #C84735;
}

.header_link:not(:last-child) {
    margin-right: 30px;
}

.upper_text {
    text-transform: uppercase;
}

.geo_link {
    display: flex;
    width: 83px;
    align-items: center;
    justify-content: space-between;
}


/*header_low*/

.header_low {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}

.header_category {
    text-decoration: none;
    color: #313131;
    font-size: 16px;
    font-weight: 400;
}


/*event*/

.event_now {
    margin-top: 102px;
    width: 1134px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F1F1F1;
    border-radius: 20px;
}

.event_title {
    font-size: 36px;
    font-weight: 600;
    margin-left: 84px;
}

.event_text {
    font-size: 24px;
    font-weight: 400;
    width: 356px;
    height: 116px;
    margin-left: 87px;
}

.event_button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    height: 77px;
    width: 291px;
    background: linear-gradient(93.11deg, #C84735 3.29%, #EB5D49 50.3%, #C84735 98.31%);
    border-radius: 0 20px 0 20px;
    text-align: center;
    display: block;
    padding-top: 27px;
    margin-left: 87px;
}

.event_future {
    display: flex;
    align-items: center;
    padding-top: 42px;
    justify-content: space-around;
}

.event_img {
    margin-right: 10px;
}

.event_left {
    margin-right: 10px;
}